<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}"
      lang="en">
<head>
    <title th:text="${#fields.hasErrors('${tpaDetails.*}')} ? #{error} + ' ' + #{newAgent.title}
            : #{newAgent.title}"></title>
</head>
<body class="govuk-template__body" layout:fragment="content">
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" th:object="${tpaDetails}"
                  th:action="@{/third-party-agencies/new}" method="post"
                  autocomplete="off">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading" th:text="#{newAgent.title}"></h1>
                        </legend>
                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('agentName')}
                        ? 'govuk-form-group--error' : ''">
                            <label class="govuk-label" for="agent-name">
                                <span th:text="|#{newAgent.agentName}|"></span>
                            </label>
                            <span id="agentName-error" class="govuk-error-message"
                                  th:if="${#fields.hasErrors('agentName')}"
                                  th:each="e: ${#fields.errors('agentName')}"
                                  th:text="${e}"></span>
                            <input class="govuk-input" id="agent-name"
                                   name="agent-name" type="text" maxlength="50"
                                   th:field="*{agentName}">
                        </div>
                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('contactName')}
                        ? 'govuk-form-group--error' : ''">
                            <label class="govuk-label" for="contact-name">
                                <span th:text="|#{newAgent.contactName}|"></span>
                            </label>
                            <span id="contactName-error" class="govuk-error-message"
                                  th:if="${#fields.hasErrors('contactName')}"
                                  th:each="e: ${#fields.errors('contactName')}"
                                  th:text="${e}"></span>
                            <input class="govuk-input" id="contact-name"
                                   name="contact-name" type="text" maxlength="50"
                                   th:field="*{contactName}">
                        </div>
                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('email')}
                        ? 'govuk-form-group--error' : ''">
                            <label class="govuk-label" for="email">
                                <span th:text="|#{newAgent.email}|"></span>
                            </label>
                            <span id="email-error" class="govuk-error-message"
                                  th:if="${#fields.hasErrors('email')}"
                                  th:each="e: ${#fields.errors('email')}"
                                  th:text="${e}"></span>
                            <input class="govuk-input" id="email"
                                   name="email" type="text" maxlength="50"
                                   th:field="*{email}">
                        </div>
                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('supervisoryBody')}
                        ? 'govuk-form-group--error' : ''">
                            <label class="govuk-label" for="supervisoryBody">
                                <span
                                        th:text="|#{newAgent.supervisoryBody}|"></span>
                            </label>
                            <span id="supervisoryBody-error" class="govuk-error-message"
                                  th:if="${#fields.hasErrors('supervisoryBody')}"
                                  th:each="e: ${#fields.errors('supervisoryBody')}"
                                  th:text="${e}"></span>
                            <input class="govuk-input" id="supervisoryBody"
                                   name="supervisoryBody" type="text" maxlength="50"
                                   th:field="*{supervisoryBody}">
                        </div>
                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('amlRegistrationNumber')}
                        ? 'govuk-form-group--error' : ''">
                            <label class="govuk-label" for="amlRegistrationNumber">
                                <span
                                        th:text="|#{newAgent.amlRegistrationNumber}|"></span>
                            </label>
                            <span id="amlRegistrationNumber-error" class="govuk-error-message"
                                  th:if="${#fields.hasErrors('amlRegistrationNumber')}"
                                  th:each="e: ${#fields.errors('amlRegistrationNumber')}"
                                  th:text="${e}"></span>
                            <input class="govuk-input" id="amlRegistrationNumber"
                                   name="amlRegistrationNumber" type="text" maxlength="50"
                                   th:field="*{amlRegistrationNumber}">
                        </div>
                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('responsiblePersonName')}
                        ? 'govuk-form-group--error' : ''">
                            <label class="govuk-label" for="responsiblePersonName">
                                <span
                                        th:text="|#{newAgent.responsiblePersonName}|"></span>
                            </label>
                            <span id="responsiblePersonName-error" class="govuk-error-message"
                                  th:if="${#fields.hasErrors('responsiblePersonName')}"
                                  th:each="e: ${#fields.errors('responsiblePersonName')}"
                                  th:text="${e}"></span>
                            <input class="govuk-input" id="responsiblePersonName"
                                   name="responsiblePersonName" type="text" maxlength="50"
                                   th:field="*{responsiblePersonName}">
                        </div>
                        <fieldset class="govuk-fieldset govuk-!-margin-top-9">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h3 class="govuk-fieldset__heading"
                                    th:text="#{newAgent.address.title}"></h3>
                            </legend>
                            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('address.premise')}
                        ? 'govuk-form-group--error' : ''">
                                <label class="govuk-label" for="premise">
                                    <span th:text="|#{newAgent.address.premise}|"></span>
                                </label>
                                <span id="premise-error" class="govuk-error-message"
                                      th:if="${#fields.hasErrors('address.premise')}"
                                      th:each="e: ${#fields.errors('address.premise')}"
                                      th:text="${e}"></span>
                                <input class="govuk-input" id="premise"
                                       name="premise" type="text" maxlength="50"
                                       th:field="*{address.premise}">
                            </div>
                            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('address.addressLine1')}
                        ? 'govuk-form-group--error' : ''">
                                <label class="govuk-label" for="line1">
                                    <span th:text="|#{newAgent.address.line1}|"></span>
                                </label>
                                <span id="line1-error" class="govuk-error-message"
                                      th:if="${#fields.hasErrors('address.addressLine1')}"
                                      th:each="e: ${#fields.errors('address.addressLine1')}"
                                      th:text="${e}"></span>
                                <input class="govuk-input" id="line1"
                                       name="line1" type="text" maxlength="50"
                                       th:field="*{address.addressLine1}">
                            </div>
                            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('address.addressLine2')}
                        ? 'govuk-form-group--error' : ''">
                                <label class="govuk-label" for="line2">
                                    <span th:text="|#{newAgent.address.line2}|"></span>
                                </label>
                                <span id="line2-error" class="govuk-error-message"
                                      th:if="${#fields.hasErrors('address.addressLine2')}"
                                      th:each="e: ${#fields.errors('address.addressLine2')}"
                                      th:text="${e}"></span>
                                <input class="govuk-input" id="line2"
                                       name="line2" type="text" maxlength="50"
                                       th:field="*{address.addressLine2}">
                            </div>
                            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('address.town')}
                        ? 'govuk-form-group--error' : ''">
                                <label class="govuk-label" for="town">
                                    <span th:text="|#{newAgent.address.town}|"></span>
                                </label>
                                <span id="town-error" class="govuk-error-message"
                                      th:if="${#fields.hasErrors('address.town')}"
                                      th:each="e: ${#fields.errors('address.town')}"
                                      th:text="${e}"></span>
                                <input class="govuk-input" id="town"
                                       name="town" type="text" maxlength="50"
                                       th:field="*{address.town}">
                            </div>
                            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('address.county')}
                        ? 'govuk-form-group--error' : ''">
                                <label class="govuk-label" for="county">
                                    <span th:text="|#{newAgent.address.county}|"></span>
                                </label>
                                <span id="county-error" class="govuk-error-message"
                                      th:if="${#fields.hasErrors('address.county')}"
                                      th:each="e: ${#fields.errors('address.county')}"
                                      th:text="${e}"></span>
                                <input class="govuk-input" id="county"
                                       name="county" type="text" maxlength="50"
                                       th:field="*{address.county}">
                            </div>
                            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('address.country')}
                        ? 'govuk-form-group--error' : ''">
                                <label class="govuk-label" for="country">
                                    <span th:text="|#{newAgent.address.country}|"></span>
                                </label>
                                <span id="country-error" class="govuk-error-message"
                                      th:if="${#fields.hasErrors('address.country')}"
                                      th:each="e: ${#fields.errors('address.country')}"
                                      th:text="${e}"></span>
                                <input class="govuk-input" id="country"
                                       name="country" type="text" maxlength="50"
                                       th:field="*{address.country}">
                            </div>
                            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('address.postcode')}
                        ? 'govuk-form-group--error' : ''">
                                <label class="govuk-label" for="postcode">
                                    <span th:text="|#{newAgent.address.postcode}|"></span>
                                </label>
                                <span id="postcode-error" class="govuk-error-message"
                                      th:if="${#fields.hasErrors('address.postcode')}"
                                      th:each="e: ${#fields.errors('address.postcode')}"
                                      th:text="${e}"></span>
                                <input class="govuk-input" id="postcode"
                                       name="postcode" type="text" maxlength="50"
                                       th:field="*{address.postcode}">
                            </div>
                        </fieldset>
                    </fieldset>
                </div>
                <button data-prevent-double-click="true" id="submit-button" class="govuk-button"
                        type="submit" name="action"
                        value="submit" th:text="|#{button.continue}|"></button>
            </form>
        </div>
    </div>
</main>
</body>
</html>
